{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; color: #333;">Booking Successful</h1>
    <p style="text-align: center;">Your booking has been successfully submitted.</p>
    <p style="text-align: center;">Thank you for choosing our services!</p>
{% endblock %}

{% block styles %}
    <style>
        .firework-animation {
            position: relative;
            width: 100%;
            height: 400px;
            background-color: #000;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static '/js/particles.js' %}"></script>
    <script>
        particlesJS.load('firework-animation', '{% static 'js/particles.json' %}');
    </script>
{% endblock %}
